// extends


%h1-style {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 400;
}

%section-center {
    width: 75vw;
    margin: 0 auto;
}

// style

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

.mobile-menu {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(51, 51, 51, 0.92);
    z-index: 2000;
    left: 0;
    top: -100vh;
    opacity: 1;
    transition: opacity 1s;
    
    ul {
        list-style-type: none;
        color: #d4d4d4;
        font-size: 1.7rem;
        text-align: center;
        padding-left: 0;
        margin-top: 20%;
        
        li {
            border: 1px solid rgba(255, 255, 255, 0.54);
            width: 80%;
            height: 8vh;
            line-height: 8vh;
            border-radius: 35px;
            margin: auto auto 3vh auto;
        }
        
        a {
            text-decoration: none;
            color: #d4d4d4;
          }
    }
}

.mobile-animation {
    animation-name: mobile-drop;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes mobile-drop {
    from {
        top: -100vh;
    } to {
        top: 0;
    }
}

.mobile-animation-up {
    animation-name: mobile-up;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
//    opacity: 1;
}

@keyframes mobile-up {
    from {
        top: 0;
//        opacity: 1;
    } to {
        top: -100vh;
//        opacity: 0;
    }
}

nav {
    @extend %section-center;
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-right: 5vw;
    height: 4vw;
    box-sizing: border-box;
    
    .hamburger {
        display: none;
    }
    
    .logo {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    img {
        display: block;
        width: 200px;
        height: 53px;
    }
    
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 55%;
        padding-left: 0;
        color: #676767;
        font-weight: 700;
        font-size: 0.8rem; 
        margin-top: 0;
        margin-bottom: 0;
        
        li {
//            width: 20%;
//            height: 100%;
//            display: flex;
//            align-items: center;
//            justify-content: center;
            padding: 10px;
            transition: background-color 0.3s, color 0.3s;
            cursor: pointer;
        }
        
        li:hover {
            background-color: #ecb840;
            color: #fff;
        }
        
        li:hover a {
            text-decoration: none;
            color: #fff;
        }
        
        a {
            text-decoration: none;
            color: #676767;
          }
            
        a:hover {
            text-decoration: none;
            color: #fff;
        }
    }
} 

.triangle {
    background-image: url(img/1_06.jpg);
    background-size: 100vw;
    background-position: 0 20px;
    background-repeat: no-repeat;
}

.home-main {
    @extend %section-center;
    
    .slide-container {
        width: 100%;
        height: 26vw;
        background: url(img/s1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 2rem;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        
        .slide {
            color: #efefef;
//            transition: color 1s;
        }
        
        
    }
    
    .services {
        width: 100%;
        height: 10vw;
        background: #58585a;
        margin-top: 5px;
        display: flex;
        align-items: center;
        
        .services-img {
            width: 20%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-right: 1px solid grey;
            transition: background-color 0.3s;
            cursor: pointer;
            
            img {
            width: 35%;
            height: auto;
            display: block;
            transition: transform 0.5s;
            }
            
            p {
                margin-top: 0;
                color: #f1f1f1;
                font-size: 0.9rem;
                letter-spacing: 1px;
                font-family: 'Raleway', sans-serif;
                transition: letter-spacing 0.5s;
            }
        }
        
        .services-img:hover {
            background-color: rgba(189, 189, 189, 0.2);
        }
        
        .services-img:hover p {
            letter-spacing: 3px;
        }
        
//        .services-img:hover img {
//            transform: scale(1.1, 1.1);
//        }
    }
}

.slide-animation {
            animation-name: easeshow;
            animation-duration: 2s;
            animation-iteration-count: 1;
        }
        
        @keyframes easeshow {
            from {
                opacity: 0;
            } to {
                opacity: 1;
            }
        }

.about, .about2 {
    @extend %section-center;
//    overflow: hidden;
    
    .about-title {
        @extend %h1-style;
        color: #e5ac33;
        margin-top: 40px;
        margin-bottom: 25px;
    }
    
    img {
        width: 100%;
        height: auto;
    }
    
    .sub-img {
        width: 85%;
    }
    
    .about-title2 {
        margin-top: 0;
        padding-top: 40px;
        border-top: 1px solid lightgrey;
        text-align: left;
    }
    
    .sub-about:nth-child(3) {
        margin-top: 45px;
    }
    
    .about-3boxes {
//        display: flex;
//        justify-content: space-between;
        color: #4c4c4c;
        
        .about-box {
            width: 27%;
            text-align: justify;
//            font-size: 0.7rem;
//            line-height: 20px;
            font-size: 1vw;
            line-height: 1.1vw;
        }
        
        .about-box:first-child {
            position: relative;
            left: -40vw;
        }
        
        .about-box:last-child {
            position: relative;
            left: 40vw;
        }
        
        .about-box2 {
            width: 40%;
            opacity: 0;
            
            
        }
    }
}

.sub-projects {
    margin-top: 45px;
}

.quote-container {
    @extend %section-center;
    position: relative;
    
    .quote {
        font-size: 1.7rem;
        color: #e6b02f;
        text-align: center;
        font-style: italic;
        line-height: 26px;
        width: 74%;
        margin: 60px auto 75px auto;
        position: relative;
        
        span {
            font-size: 2rem;
            color: #c4c4c4;
        }
        
        .quote-span3 {
            position: absolute;
            bottom: -30px;
            font-size: 1.2rem;
            right: 10%;
            font-style: normal;
            color: #656565;
        }
    }
    
    .quote-span1 {
        position: absolute;
        top: -8px;
        left: -20px;
    }
    
    .quote-span2 {
        position: absolute;
        bottom: -8px;
        right: -20px;
    }
}

aside {
    @extend %section-center;
//    height: 200px;
    background: url(img/1_29.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    
    .aside-john {
        background: white;
        width: 28%;
        padding-left: 2%;
        padding-right: 2%;
        text-align: justify;
        margin-left: 15%;
        height: 100%;
        font-size: 0.8rem;
        color: #545454;
        
        .john {
            font-size: 1.3rem;
            margin-bottom: 10px;
        }
    }
}

.files-container {
    @extend %section-center;
    margin-top: 25px;
    
    .files-title {
        @extend %h1-style;
        color: #e5ac33;
        text-align: left;
        margin-bottom: 20px;
    }
    
    .files-row {
//        height: 50px;
        font-size: 0.8rem;
        
        .pdf {
            color: #e5ac33;
            font-size: 2rem;
            margin-right: 10px;
        }
        
        .files-col {
            display: flex;
            margin-bottom: 10px;
            
        }
    }
}

.contact {
    @extend %section-center;
    
    .contact-title {
        @extend %h1-style;
        color: #e5ac33;
        text-align: left;
        margin-bottom: 20px;
        margin-top: 0;
        padding-top: 40px;
        border-top: 1px solid lightgrey;
    
    }
    
    span {
        font-weight: 700;
        color: #2e2e2e;
        
    }
    
    .sub-contact {
        font-size: 0.9rem;
        margin-bottom: 25px;
    }
    
//    .sub-contact:nth-child(3) {
//        margin-top: 45px;
//    }
    
    .map {
        width: 100%;
        height: 100%;
        border: 5px solid #2e5050;
    }
    
    textarea {
        width: 100%;
        height: 150px;
        border: none;
        background: #ececec;
        padding-left: 15px;
        padding-top: 15px;
    }
    
    .name-row {
        height: 50%;
//        width: 50%;
    }
    
    .contact-form {
        border: none;
        width: 100%;
        height: 84%;
        background: #ececec;
        padding-left: 15px;
    }
    
    .name-row:nth-child(2) .name-column {
        display: flex;
        align-items: flex-end;
    }
    
    .radio-info {
        border: 1px solid #e4af34;
        
    }
    
    .radio-info-cont {
        width: 100%;
        font-size: 0.6rem;
        display: flex;
        align-content: center;
        height: 20px;
    }
    
    .yellow-input {
            opacity: 0;
            position: absolute;
            cursor: pointer;
        }
        
        .container {
            position: relative;
            padding-left: 20px;
            cursor: pointer;
            margin-bottom: 20px;
        }
        
        .yellow::after {
            content: '';
            position: absolute;
            width: 7px;
            height: 7px;
            background: #e4af34;
            border-radius: 50%;
            top: 2px;
            left: 2px;
            display: none;
        }
        
        .container input:checked .yellow::after {
            display: block;
        }
        
        .yellow {
            border-radius: 50%;
            border: 2px solid #e4af34;
            width: 15px;
            height: 15px;
            position: absolute;
            background: white;
            top: 4px;
            left: 0;
        }
        
        .container:hover input ~ .yellow {
            background: #c4c4c4;
        }
        
        .container input:checked ~ .yellow::after {
            display: block;
        }
    
    .captcha {
        width: 100%;
        height: 50%;
        border: 5px solid #777;
    }
    
    .captcha-row {
        height: 100%;
    }
    
    .captcha-column, .send-column {
        display: flex;
        align-items: center;
    }
    
    .send {
        width: 100%;
        height: 50%;
        background: #e4ae32;
        color: white;
        font-size: 1rem;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        span {
            font-size: 2rem;
            color: white;
        }
    }
}

//.triangle-joboffers {
//    background-image: url(img/1_06.jpg);
//    background-size: 100vw;
//    background-position: 0 20px;
//    background-repeat: no-repeat;
//    position: absolute;
//    top: 4vw;
//    left: 0;
//    width: 100vw;
//    height: 400px;
//}

.offers-container {
    @extend %section-center;
    
    .offers-title {
        @extend %h1-style;
        color: #e5ac33;
        margin-bottom: 25px;
        text-align: left;
        margin-top: 0;
        padding-top: 40px;
        border-top: 1px solid lightgrey;
    
    }
    
    .offer {
        
        p:nth-child(1) {
            font-size: 1.5rem;
            color: #525252;
        }
        
        p:nth-child(2) {
            font-size: 0.9rem;
            color: grey;
        }
    }
    
    .offer-row {
        margin-bottom: 20px;
    }
}

.projects {
    @extend %section-center;
    background-color: #e4ae32;
    margin-top: 65px;
    padding-top: 30px;
    
    h1 {
        @extend %h1-style;
        color: #f1f1f1;
        margin-top: 0;
        margin-bottom: 35px;
        letter-spacing: 1px;
        font-size: 1.7rem;
    }
    .projects-boxes {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        
        .projects-box {
            width: 30%;
            margin-bottom: 35px;
            img {
                width: 100%;
                height: auto;
            }
            
            p:nth-child(2) {
                text-align: center;
                color: #f1f1f1;
                font-size: 1.1rem;
                letter-spacing: 2px;
                margin-top: 15px;
            }
            
            p:nth-child(3) {
                text-align: center;
                margin: 0 auto;
                color: #f1f1f1;
                font-size: 0.8rem;
                letter-spacing: 1px;
                border: 2px solid #f1f1f1;
                width: 45%;
                height: 30px;
                border-radius: 50px;
                cursor: pointer;
                transition: background 0.3s, color 0.3s;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            p:nth-child(3):hover {
                background: rgba(255, 255, 255, 0.8);
                color: #383838;
            }
        }
    }
}

.numbers {
    @extend %section-center;
    position: relative;
    margin-top: 30px;
    
    .whiteline {
        width: 100%;
        height: 3vw;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        z-index: 1000;
    }
    
    h1 {
        @extend %h1-style;
        color: #e5ac33;
        margin-bottom: 50px;
    }
    
    .circlerow {
        width: 90%;
        margin: auto;
    }
    
    .circles {
//        margin: 0 auto;
//        display: flex;
//        justify-content: space-between;
        font-size: 2rem;
    }
    .circle {
        width: 13vw;
        height: 13vw;
        border: 5px solid #e4ae32;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #e4ae32;
        position: relative;
        flex-wrap: wrap;
        align-content: center;
        margin: 0 auto;
    }
    
    .circle-text {
        font-size: 0.8rem;
        color: #4e4e4e;
        display: flex;
        margin-top: 0px;
        text-align: center;
        font-weight: 400;
        width: 80%;
    }
    .circle-drop {
        display: flex;
        width: 50%;
        justify-content: space-around;
    }
}

.svg-cont {
    transform: rotate(90deg);
    position: absolute;
    top: 0;
    left: 0;
}
        
.blackcircle {
    fill: rgba(255, 255, 255, 0);
    stroke: #4e4e4e;
    stroke-width: 2;
    stroke-dasharray: 470;
    stroke-dashoffset: 500;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: absolute;
}

.animation-circle-name {
    animation-name: rotate;
}

@keyframes rotate {
    to {
    stroke-dashoffset: 0;
    }
}

footer {
    @extend %section-center;
    background-image: url(img/1_45.jpg);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    margin-top: 30px;
    height: 190px;
    
    .contact-container {
        width: 65%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-left: 7%;
        padding-top: 3%;
        
        .contact-footer {
            color: #f1f1f1;
        }
        
        p {
            font-size: 0.7rem;
            display: flex;
            align-items: center;
        }
        
        .contact-footer:nth-child(1) p:nth-child(1), .contact-footer:nth-child(3) p:nth-child(1) {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.8rem;
            margin-bottom: 2px;
        }
        
        .middle p {
            margin-bottom: 0;
            margin-top: 0;
            
        }
        
        .sprite1 {
            width: 32px;
            height: 50px;
            background: url(img/1_37.png) -5px -94px;
            background-repeat: no-repeat;
        }
        
        .sprite2 {
            width: 32px;
            height: 25px;
            background: url(img/1_37.png) 0px -168px;
            background-repeat: no-repeat;
        }
        
        .sprite3 {
            width: 32px;
            height: 16px;
            background: url(img/1_37.png) 0px -222px;
            background-repeat: no-repeat;
        }
        
        .next {
            display: flex;
        }
        
        .sprite1 ~ p {
            margin-bottom: 0;
        }
        
        .middle {
            margin-bottom: 8px;
        }
    }
    
    .copy {
        font-size: 0.6rem;
        color: #9a9a9a;
        text-align: center;
        margin-top: 45px;
    }
}

@media (max-width: 1100px) {
    %section-center {
    width: 95vw;
    }
    nav .logo {
        width: 30%;
    }
    nav ul {
        width: 65%;
    }
    .home-main .services {
        margin-top: 30px;
    }
    .home-main .slide-container {
        height: 50vw;
    }
    nav {
        height: 10vh;
    }
    .home-main .services {
        height: 16vw;
    }
    .about .about-3boxes .about-box {    
        font-size: 1.2vw;
        line-height: inherit;
    }
    .numbers .whiteline {
//        height: 3vw;
    }
    
    .numbers .circle {
        font-size: 3vw;
        font-weight: 700;
        border-width: 3px;
        width: 15vw;
        height: 15vw;
    }
    
    .numbers .circle-text {
        font-size: 0.7rem;
    }
    
    .numbers .circles {
        width: 90vw;
    }
    
    .blackcircle {
        stroke-width: 1;
    }
    
    footer .contact-container {
        width: 80%;
    }
    
    .projects .projects-boxes .projects-box p:nth-child(3) {
        height: 34px;
        line-height: 30px;
        width: 55%;
    }
    
    .footer {
        height: 168px;
    }
    
}

@media (max-width:768px) {
    footer .contact-container {
        width: 90%;
    }
}

@media (max-width: 575px) {
    %section-center {
        width: 100vw;
    }
    
    nav {
        padding-right: 0;
        height: 20vw;
    }
    
    nav ul {
        display: none;
    }
    
    nav .logo {
        width: 80%;
        justify-content: flex-start;
        padding-left: 5%;
        box-sizing: border-box;
    }
    
    nav .hamburger {
        display: block;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: #555;
    }
    
    .numbers .circle {
//        font-size: 80%;
//        font-weight: 700;
//        border-width: 3px;
        width: 40vw;
        height: 40vw;
        margin: 0 auto;
        font-size: 7vw;
    }
    
    .numbers h1 {
        margin-bottom: 20px;
    }
    
    .circle-col {
        margin-top: 30px;
        padding: 0;
    }
    
    .numbers .circles {
        width: 100vw;
    }
    
//    .circle-drop {
//        width: 100% !important;
//        margin-top: 20px;
//    }
    
    .whiteline {
        display: none;
    }
    
    .about-box, .about-box2 {
        margin: 0 auto;
    }
    
    .about-box:first-child {
            margin-bottom: 20px;
        }
        
    .about-box:last-child {
            margin-top: 20px;
        }
    .about .about-3boxes .about-box {
        font-size: 0.9rem;
    }
    
    .home-main .services {
        height: auto;
        width: 100%;
        display: block;
        
    }
    
    .home-main .services .services-img {
        width: 100%;
        height: 50px;
        justify-content: start;
        padding-left: 8%;
        align-items: center;
        flex-direction: row;
        border-bottom: 1px solid #afafaf33;
    }
    
    .home-main .services .services-img img {
        width: 10%;
        margin-right: 7%;
        height: auto;
    }
    
    .home-main .services .services-img p {
        margin-top: 0;
        margin-bottom: 0;
        color: #3e3e3e;
    }
    
    .home-main .slide-container {
        height: 90vh;
    }
    
    .projects .projects-boxes .projects-box p:nth-child(3) {
        height: 40px;
        line-height: 34px;
        width: 50%;
    }
    
    footer {
        height: 315px;
    }
    
    footer .contact-container {
        flex-wrap: wrap;
        padding-top: 30px;
    }
    
    footer .contact-container .contact-footer {
        width: 100%;
    }
    
    footer .contact-container .middle {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    footer .contact-container .contact-footer:nth-child(3) p:nth-child(1) {
        margin-bottom: 10px;
    }
    
    footer .copy {
        margin-top: 25px;
    }
    
    .home-main .services {
        margin: 0 auto;
        width: 90%;
        margin-top: 10px;
    }
    
    .home-main .services .services-img {
        border-radius: 23px;
        margin-bottom: 10px;
        align-items: center;
        flex-direction: row;
        border: 1px solid #5a5a5a;
    }
    
    .home-main .services {
        background: white;
    }
    
    .numbers .circle-text {
        font-size: 0.8rem;
    }
    
    .files-container .files-title {
        text-align: center;
    }
    
    .files-container {
        padding-left: 5%;
    }
    
    .sub-about div:first-child {
        margin-bottom: 25px;
    }
    
    .quote-container .quote {
        width: 80%;
        font-size: 1.1rem;
    }
    
    .quote-container .quote span {
        font-size: 1rem;
    }
    
    aside .aside-john {
        width: 52%;
    }
    
    .contact .map {
        height: 200px;
        margin-top: 20px;
    }
    
    .contact .contact-form {
        height: 53px;
        margin-top: 15px;
    }
    
    .contact .captcha {
        height: 75px;
        margin-top: 10px;
    }
    
    .contact .send {
        height: 75px;
        margin-top: 20px;
    }
    
    .about2 .sub-img {
        width: 100%;
    }
    
}

@media (max-width: 1025px) and (orientation:landscape) {
    .home-main .slide-container {
        height: 50vh;
    }
    
}
